@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

//Grid break points

//$phone1: 20em; 320px
//$phone2: 22.5em; 360px
//$phone3: 25.625em; 410px
$grid-phone1: (
        media: 20em, //320px
        gutter: 10px,
);

//$tablet1: 47.9375em; 768px
//$tablet2: 64em; 1024px
$grid-tablet1: (
        media: 47.9375em, //768px
        gutter: 20px,
);

//$desktop2: 75em; 1200px
//$desktop3: 85.375em; 1366px
//$desktop4: 103.125em; 1600px
$grid-desktop1: (
        media: 75em, //1200px
        gutter: 40px,
);

// Typography
$base-font-family: 'Roboto', sans-serif;
$heading-font-family: $base-font-family;

// Font Sizes
$base-font-size: 1em;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$dvblue: #158FC6;
$red: #f44336;
$pink: #e91e63;
$purple: #9c27b0;
$deep-purple: #673ab7;
$indigo: #3f51b5;
$blue: #2196f3;
$light-blue: #03a9f4;
$cyan: #00bcd4;
$teal: #009688;
$green: #4caf50;
$light-green: #8bc34a;
$lime: #cddc39;
$yellow: #ffeb3b;
$amber: #ffc107;
$organe: #ff9800;
$deep-orange: #ff5722;
$brown: #795548;
$grey: #e0e0e0;
$blue-grey: #9e9e9e;
$lynch: #607b8b;
$log-cabin: #19241b;
$dark-gray: #333;
$white: #fff;

// Font Colors
$base-font-color: $dark-gray;
$action-color: $dvblue;

// Border
$base-border-color: $grey;
$base-border: 1px solid $base-border-color;

// Background Colors
$base-background-color: $white;
$secondary-background-color: tint($base-border-color, 75%);

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

// Animations
$base-duration: 150ms;
$base-timing: ease;
