.js-warning {
  display: none;
}

.no-js .js-warning {
  z-index: 9999;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  display: block;
  background: $dvblue;

  p {
    color: $white;
    width: 90%;
    margin: auto;
    padding: 2em 2em 0 ;
    text-align: center;
    font-weight: bold;
  }

  img {
    width: 360px;
    margin: auto;
    display: block;
    padding: 5em 0 0 0;
  }
}

.desktop-view {
  display: none;

  @include grid-media($grid-tablet1) {
    background: $dvblue;
    z-index: 9999;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    display: block;
  }

  p {
    color: $white;
    width: 90%;
    margin: auto;
    padding: 2em 2em 0 ;
    text-align: center;
    font-weight: bold;
  }

  img {
    width: 360px;
    margin: auto;
    display: block;
    padding: 5em 0 0 0;
  }
}