@charset "UTF-8";
/****** Libs components *****/
@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");
@import url(../css/font-awesome.min.css);
button, input[type="button"], input[type="reset"], input[type="submit"] { appearance: none; background-color: #158FC6; border: 0; border-radius: 3px; color: #fff; cursor: pointer; display: inline-block; font-family: "Roboto", sans-serif; font-size: 1em; -webkit-font-smoothing: antialiased; font-weight: 600; line-height: 1; padding: 0.75em 1.5em; text-decoration: none; transition: background-color 150ms ease; user-select: none; vertical-align: middle; white-space: nowrap; }
button:hover, button:focus, input[type="button"]:hover, input[type="button"]:focus, input[type="reset"]:hover, input[type="reset"]:focus, input[type="submit"]:hover, input[type="submit"]:focus { background-color: #11729e; color: #fff; }
button:disabled, input[type="button"]:disabled, input[type="reset"]:disabled, input[type="submit"]:disabled { cursor: not-allowed; opacity: 0.5; }
button:disabled:hover, input[type="button"]:disabled:hover, input[type="reset"]:disabled:hover, input[type="submit"]:disabled:hover { background-color: #158FC6; }

fieldset { background-color: transparent; border: 0; margin: 0; padding: 0; }

legend { font-weight: 600; margin-bottom: 0.375em; padding: 0; }

label { display: block; font-weight: 600; margin-bottom: 0.375em; }

input, select { display: block; font-family: "Roboto", sans-serif; font-size: 1em; }

input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], input:not([type]), textarea, select[multiple] { background-color: #fff; border: 1px solid #e0e0e0; border-radius: 3px; box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06); box-sizing: border-box; font-family: "Roboto", sans-serif; font-size: 1em; margin-bottom: 0.75em; padding: 0.5em; transition: border-color 150ms ease; width: 100%; }
input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="email"]:hover, input[type="month"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="time"]:hover, input[type="url"]:hover, input[type="week"]:hover, input:not([type]):hover, textarea:hover, select[multiple]:hover { border-color: #b3b3b3; }
input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus, input:not([type]):focus, textarea:focus, select[multiple]:focus { border-color: #158FC6; box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(19, 126, 175, 0.7); outline: none; }
input[type="color"]:disabled, input[type="date"]:disabled, input[type="datetime"]:disabled, input[type="datetime-local"]:disabled, input[type="email"]:disabled, input[type="month"]:disabled, input[type="number"]:disabled, input[type="password"]:disabled, input[type="search"]:disabled, input[type="tel"]:disabled, input[type="text"]:disabled, input[type="time"]:disabled, input[type="url"]:disabled, input[type="week"]:disabled, input:not([type]):disabled, textarea:disabled, select[multiple]:disabled { background-color: #f2f2f2; cursor: not-allowed; }
input[type="color"]:disabled:hover, input[type="date"]:disabled:hover, input[type="datetime"]:disabled:hover, input[type="datetime-local"]:disabled:hover, input[type="email"]:disabled:hover, input[type="month"]:disabled:hover, input[type="number"]:disabled:hover, input[type="password"]:disabled:hover, input[type="search"]:disabled:hover, input[type="tel"]:disabled:hover, input[type="text"]:disabled:hover, input[type="time"]:disabled:hover, input[type="url"]:disabled:hover, input[type="week"]:disabled:hover, input:not([type]):disabled:hover, textarea:disabled:hover, select[multiple]:disabled:hover { border: 1px solid #e0e0e0; }

textarea { resize: vertical; }

[type="search"] { appearance: none; }

[type="checkbox"], [type="radio"] { display: inline; margin-right: 0.375em; }

[type="file"] { margin-bottom: 0.75em; width: 100%; }

select { margin-bottom: 1.5em; max-width: 100%; width: auto; }

ul, ol { list-style-type: none; margin: 0; padding: 0; }

dl { margin-bottom: 0.75em; }
dl dt { font-weight: 600; margin-top: 0.75em; }
dl dd { margin: 0; }

table { border-collapse: collapse; margin: 0.75em 0; table-layout: fixed; width: 100%; }

th { border-bottom: 1px solid #a8a8a8; font-weight: 600; padding: 0.75em 0; text-align: left; }

td { border-bottom: 1px solid #e0e0e0; padding: 0.75em 0; }

tr, td, th { vertical-align: middle; }

body { color: #333; font-family: "Roboto", sans-serif; font-size: 1em; line-height: 1.5; }

h1, h2, h3, h4, h5, h6 { font-family: "Roboto", sans-serif; font-size: 1em; line-height: 1.2; margin: 0 0 0.75em; }

p { margin: 0 0 0.75em; }

a { color: #158FC6; text-decoration: none; transition: color 150ms ease; }
a:active, a:focus, a:hover { color: #106b95; }

hr { border-bottom: 1px solid #e0e0e0; border-left: 0; border-right: 0; border-top: 0; margin: 1.5em 0; }

img, picture { margin: 0; max-width: 100%; }

/***** Layouts *****/
body { background: #fff; -webkit-font-smoothing: antialiased; padding: 0; margin: 0; }
body img { width: 100%; box-sizing: border-box; }

header { margin-right: auto; margin-left: auto; max-width: 88rem; position: relative; }
header::after { clear: both; content: ""; display: block; }

main { margin-right: auto; margin-left: auto; max-width: 88rem; position: relative; }
main::after { clear: both; content: ""; display: block; }

footer { margin-right: auto; margin-left: auto; max-width: 88rem; position: relative; }
footer::after { clear: both; content: ""; display: block; }

/***** pages *****/
.js-warning { display: none; }

.no-js .js-warning { z-index: 9999; position: absolute; margin: auto; top: 0; left: 0; right: 0; bottom: 0; height: 100vh; display: block; background: #158FC6; }
.no-js .js-warning p { color: #fff; width: 90%; margin: auto; padding: 2em 2em 0; text-align: center; font-weight: bold; }
.no-js .js-warning img { width: 360px; margin: auto; display: block; padding: 5em 0 0 0; }

.desktop-view { display: none; }
@media only screen and (min-width: 47.9375em) { .desktop-view { background: #158FC6; z-index: 9999; position: absolute; margin: auto; top: 0; left: 0; right: 0; bottom: 0; height: 100vh; display: block; } }
.desktop-view p { color: #fff; width: 90%; margin: auto; padding: 2em 2em 0; text-align: center; font-weight: bold; }
.desktop-view img { width: 360px; margin: auto; display: block; padding: 5em 0 0 0; }

form { position: relative; }
form label { position: relative; }
form .input { position: relative; }
form label.error { background: rgba(244, 67, 54, 0.7); color: white; width: 60%; padding: 0.5em; font-size: 0.8em; border-radius: 4px; }
form label.error::after { position: absolute; right: 0; left: 0; top: -19px; color: rgba(244, 67, 54, 0.7); content: "▲"; font-size: 1.4em; margin-left: -8px; text-align: center; }

#form-message { opacity: 0; }

.success { padding: 1em; color: white; background-color: #158FC6; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 3px; width: 80%; margin: auto; margin-bottom: 0.75rem; font-weight: bold; text-align: center; }

.fail { padding: 1em; color: white; background-color: #f44336; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 3px; width: 80%; margin: auto; margin-bottom: 0.75rem; font-weight: bold; text-align: center; }

/*# sourceMappingURL=main.css.map */
